.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.listItem {
  list-style: none;
  margin-top: 15px;
  padding: 50px;
}

.flex-container {
  display: flex;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
button {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #2196f3;
  color: white;
}
.column {
  float: left;
  width: 33%;
  border-color: #282c34;
  border-right: 10px;
}

/* Clear floats after the columns */
.container:after {
  content: "";
  display: table;
  clear: both;
}
